<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Homepage</title>
        <link href="css/mainpage.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <!-- Header-->
        <div th:replace="~{/fragment/header.html :: fragment-header}"></div>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2>영화</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!--영화 보여지는 부분-->
                    <div class="col mb-5">
                        <div th:block th:each="movie, movieStat : ${movieList}">
                                <div class="text-center">
                                    <!-- Product image-->
                                    <img th:src="${movie.posterPath}">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><span th:text="${movie.title}"></span></h5>
                                    <div class="d-flex justify-content-sm-center text-warning mb-2">
                                        <th:block th:each="num, iterStat : ${#numbers.sequence(1,5)}">
                                             <span th:if="${movie.voteAverage} >= ${iterStat.count}"
                                                   class="material-icons"
                                                   style="color: orange;">grade</span>
                                            <span th:if="${movie.voteAverage} < ${iterStat.count}"
                                                  class="material-icons"
                                                  style="color: grey;">grade</span>
                                        </th:block>
                                    </div>
                                </div>
                            <!-- Product actions-->

                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/board/list">Detail</a></div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/mainpage.js"></script>
    </body>
</html>
